---
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Accueil">
  <main>
    <h1>Hello, mes élèves!</h1>
    <p>
      Bienvenue sur notre blog éducatif dédié à l'apprentissage des
      mathématiques et bien d'autres sujets scolaires passionnants !
    </p>
    <p>
      Ici, vous trouverez une mine d'informations, d'astuces et de ressources
      pour enrichir vos connaissances mathématiques et renforcer vos compétences
      dans cette discipline cruciale.
    </p>
    <p>
      Que vous soyez un élève, un parent ou un enseignant à la recherche de
      ressources pédagogiques de qualité, notre blog est conçu pour vous aider à
      comprendre les concepts mathématiques complexes de manière claire et
      accessible. Nos articles éducatifs couvrent une variété de sujets, des
      bases fondamentales aux défis plus avancés.
    </p>
    <p>
      Explorez nos catégories pour découvrir des articles sur l'arithmétique,
      l'algèbre, la géométrie, les statistiques et bien plus encore.
      Rejoignez-nous dans ce voyage passionnant à la découverte des merveilles
      des mathématiques, où nous vous guiderons à travers des explications
      détaillées, des exemples pratiques et des conseils pratiques pour exceller
      dans cette discipline captivante.
    </p>
  </main>
  <Footer />
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }

  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }

  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }

  .instructions strong {
    color: rgb(var(--accent));
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
