---
import Layout from "../layouts/Layout.astro";
import BlogCard from "../components/BlogCard.astro";
const allPosts = await Astro.glob("./*.md");
---

<Layout
  title="Blog"
  description="Voici la page on sont repertiorié tous les articles du site"
>
  <main>
    <ul>
      {allPosts.map((post) => <BlogCard post={post} url={post.url} />)}
    </ul>
  </main>
</Layout>

<style>
  ul {
    margin-block: 2em;
  }

  @media only screen and (min-width: 800px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 350px);
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
