---
import Layout from "../layouts/Layout.astro";

import { formatBlogPosts } from "../ts/utils";

import quiz from "../data/quiz.json";
import BlogCard from "../components/BlogCard.astro";
import QuizCard from "../components/QuizCard.astro";

const allPosts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(allPosts, {
  filterOutFuturePosts: false,
  filterOutDrafts: true,
  limit: 2,
});
const featuredQuiz = quiz.quiz.filter((quiz) => quiz.isFeatured);
---

<Layout
  title="Blog"
  description="Voici la page on sont répertoriés tous les articles du site"
>
  <main>
    <section>
      <h2>Voir nos derniers articles</h2>
      <a class="seeAll" href="/blog">Voir tous nos articles</a>
      <ul>
        {formattedPosts.map((post) => <BlogCard post={post} url={post.url} />)}
      </ul>
    </section>
    <section>
      <h2>Voir nos quiz à la une!</h2>
      <a class="seeAll" href="/quiz">Voir tous nos quiz</a>
      <ul>
        {featuredQuiz.map((quiz) => <QuizCard quiz={quiz} />)}
      </ul>
    </section>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
  }

  section {
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
  }

  ul {
    width: min(1196px, 100%);
    margin: auto;
    list-style-type: none;
  }

  @media only screen and (min-width: 800px) {
    ul {
      display: grid;
      grid-template-columns: repeat(auto-fill, 350px);
      justify-content: center;
      align-items: flex-start;
    }
  }
</style>
